<%- include('partials/header.ejs', {title: title, loggedIn: loggedIn}); %>
    <h1><%= title %></h1>
    <p>Congratulations, you have completed this test!</p>
    <br>
    <p>Results:</p>
    <p>You are <%= percentage %>% <%= postText %></p>
    <% if (loggedIn) { %>
        <form action="/saveResult" method="post">
            <input type="hidden" name="testTitle" value="<%= testTitle %>"/>
            <input type="hidden" name="testId" value="<%= testId %>"/>
            <input type="hidden" name="percentage" value="<%= percentage %>"/>
            <input type="submit" value="Save Result!"/>
        </form>
    <% } %>
<%- include('partials/footer.ejs'); %>