<%- include('partials/header.ejs'); %>
    <h1><%= title %></h1>
    <p>Congratulations, you have completed this test!</p>
    <br>
    <p>Results:</p>
    <p>You are <%= percentage %>% <%= postText %></p>
<%- include('partials/footer.ejs'); %>