<%- include('partials/header.ejs', {loggedIn: loggedIn}); %>
    <style>
        h1 {

        }
        form p {
            display: inline;
        }
    </style>
    <form action="/results" method="POST">
        <h1><%= title %></h1>
        <p>Views: <%= views %></p>
        <br/>
        <p><%= preText %></p>
        <br/><br/>

        <% var totalQuestions = 0; %>
        <% questions.forEach(function(question) { %>
            <% totalQuestions++; %>

            <p><%= totalQuestions %>. </p>

            <input type="checkbox" name="questionAnswer[]" /><p> <%= question %></p><br><br>
        <% }); %>
        <input type="hidden" name="questionAnswer[]" value="1"/>
        <input type="hidden" name="title" value="<%= title %>"/>
        <input type="hidden" name="postText" value="<%= postText %>"/>
        <input type="hidden" name="totalQuestions" value="<%= totalQuestions %>"/>
        <input type="submit" value="Submit!">
    </form>
<%- include('partials/footer.ejs'); %>
